.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.outer-box {
  border: 1px solid green;
  padding: 5px;
}

.red-background {
  background-color: red;
}

.black-background {
  background-color: black;
}

.text-white {
   color: white;
}

.white-background {
  background-color: white;
}

.text-black {
   color: black;
}
