.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

.black-background {
  background-color: black;
}

.text-white {
   color: white;
}

.white-background {
  background-color: white;
}

.text-black {
   color: black;
}
